@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: white;
    background-color: blue;
    padding: 10px 30px;
    border: solid blue 2px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    border-radius: 13px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: blue;
    color: white;
    border: solid 2px blue;
}

.styleAbutton{
    text-decoration: none;
}

.divButtonStyle{
    margin-left: 40px;
    display: flex;
}

.espacamento{
    margin-top: 30%;
}

.divButtonStyle a{
    padding: 2rem;
    text-decoration: none;
}

.espaIncon{
    margin-left: 1rem;
}